In [2]:
import pandas as pd
import seaborn as sns

d = pd.read_csv("../data/small_random.csv")
d

     Unnamed: 0 instance solver       times
0             0       i1     s1   83.864367
1             1       i2     s1  127.937324
2             2       i3     s1  128.059466
3             3       i4     s1   75.235571
4             4       i5     s1   74.800778
..          ...      ...    ...         ...
295         295      i96     s3   87.726769
296         296      i97     s3  256.035286
297         297      i98     s3  221.511344
298         298      i99     s3  215.347677
299         299     i100     s3  286.001408

[300 rows x 4 columns]

In [4]:
import abs.statistics as stats

pivot_table = stats.get_pivot(d, index="instance", columns="solver", values="times")
pivot_table

solver            s1          s2          s3
instance
i1         83.864367   35.626683   89.900278
i10        77.457292   58.525248  128.728057
i100      108.566344   70.170530  286.001408
i11        75.651904   69.107894  198.270020
i12        94.410663  141.597841   92.427285
...              ...         ...         ...
i95        41.651450   24.450793  100.256623
i96        46.834227   84.199715   87.726769
i97        82.305420   48.647493  256.035286
i98        87.062881  208.473377  221.511344
i99       125.593632   15.747353  215.347677

[100 rows x 3 columns]

In [5]:
stats.stats(pivot_table)

,sum,mean,median,std,max,sgm,wins
solver,,,,,,,
s1,8359.308757,83.593088,81.674413,26.347568,129.593254,79.811799,35
s2,10955.278185,109.552782,73.062876,104.303517,529.890146,75.483968,49
s3,18812.024559,188.120246,147.795049,138.635493,681.715499,145.145583,16